@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #00BFFF;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding-top: 80px;
}

.header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin: 10px;
    z-index: 1;
    background-color: #00BFFF;
}

.header__logo {
    width: 106px;
    height: 36px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #00BFFF;
    transition: color, background-color 0.3s;
}

.nav__item {
    /* margin: 0 10px; */
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #00BFFF;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 14px;
    transition: color, background-color 0.3s;
}

.header__logo:hover, .nav__item:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #00BFFF;
    cursor: pointer;
}

.active {
    background-color: rgba(142, 144, 166, 1);
}

.margin--16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card {
    border-radius: 16px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    /* width: 100%; */
}

.card--vertical {
    padding: 56px 40px;
}

.margin-bottom--16 {
    margin-bottom: 16px;
}

.card--blue {
    background-color: rgba(51, 102, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.card__version {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card__version--vertical {
    text-align: left;
}

.card__heading {
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card__options {
    margin-top: 32px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(85, 87, 112, 1);
    text-align: left;
}

.card__options--blue {
    color: rgba(242, 242, 245, 1);
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

.card__button-wrapper {
    height: 100%;
    margin-top: 32px;
}

.card__button-wrapper--vertical {
    margin-top: 16px;
}

.card__button {
    min-height: 32px;
    min-width: 48px;
    border-radius: 4px;
    padding: 8px 24px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(51, 102, 255, 1);
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    transition: color, background-color 0.5s;
}

.card__button--blue {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 102, 255, 1);
    transition: color, background-color 0.5s;
}

.card__button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 102, 255, 1);
}

.card__button--blue:hover {
    cursor: pointer;
    background-color: rgba(51, 102, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.card__button:active, .card__button--blue:active {
    border: none;
    outline: none;
}

/* @media only screen and (min-width: 700px) {
    body {
        flex-direction: row;
    }
} */